<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ensiie.tp5"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".internal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FabActivity" />
        <activity android:name=".CardViewActivity" />
        <activity android:name=".IconsActivity" />
        <activity android:name=".AppBarActivity" android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".AppBarSpinnerActivity" android:theme="@style/NoActionBarTheme" />
        <activity android:name=".AppBarTabsActivity" android:theme="@style/NoActionBarTheme" />
        <activity android:name=".AppBarCollapsibleActivity" />
        <activity android:name=".AppBarCollapsibleParallaxActivity" />
        <activity android:name=".AppBarCollapsibleFabActivity" />

    </application>

</manifest>